.root {
  padding-left: 24px;
}

.parent {
  height: 24px;
  font-size: 14px;
  line-height: 24px;

  span {
    cursor: pointer;
  }

  &.selected {
    span {
      background-color: #EBF1F9;
      color: #3089DC;
      opacity: 0.8;
    }
  }

  &:hover {
    span {
      background-color: #F0F0F0;
      opacity: 0.8;
    }
  }
}

.children {
  transition: height .5s;
  overflow: hidden;
}

